@media screen and (min-width:1440px)
  body 
    font-size font-size-1440

  .menu a 
    font-size font-size-1440
    margin: 0 13px
    padding-bottom: 8px
    &:before
      height 6px
  
  .principal-title 
    font-size: 48px
    span 
      font-size: 38px

  .fa-arrow-down
    font-size: 42px

  .social-link 
    width 55px
    height 55px
    font-size: 55px
    background-size 55px 55px
    margin 0 26px

  .about
    &-title 
      font-size: font-size-title-1440
    &-details
      font-size: font-size-1440

  .stack 
    &-title 
      font-size: font-size-title


  
  