.about 
  min-height 100vh
  color color-primary
  text-align center
  &-title
    font-size font-size-title
    font-family fuente2
    padding-top: 11vh 
    margin-bottom: 10px
  &-details 
    max-width 60%
    margin: 0 auto
    font-size font-size-normal
    p 
      text-align: left

.button
  button()

.stack
  text-align: left
  margin: 40px auto
  max-width 60%
  color: color-primary
  &-title 
    text-align: center
    font-size: font-size-subtitle
    font-family: fuente2
    margin-bottom: 5px
  
.technologies-list 
  list-style: none
  li 
    display: flex
  img 
    margin: 8px 18px 8px 0
    height 22px
    width: 22px
  span 
    align-self: center
    opacity .9