#icon-container 
  position: absolute
  display: none
  z-index 3
  right: 0

.toggle-icon 
  position: fixed
  font-size: 10px
  margin: .6em auto 0 0.2em
  transition: 600ms
  cursor pointer 
  left: 84.5%

.toggle-icon .bar 
	display: block;
	width: 3.8em;
	height: 0.2em;
	margin: 0.9em;
	border-right: 2.8em solid #fff;
	border-left: 0.6em solid #d6d6d6;
	box-sizing: border-box;
	transition-property: transform, margin, border-right-color, box-shadow;
	transition-duration: 600ms


.toggle-icon .bar:nth-of-type(1) 
	transition: opacity 300ms;

.toggle-icon .bar:nth-of-type(2) 
	transform: rotate(-180deg);

/*pushed*/
.pushed .toggle-icon 
	margin: -.6em 0 0 0.7em;


.pushed .bar:nth-of-type(1) {
	opacity: 0;
}

.pushed .bar:nth-of-type(2) {
	margin-left: 1.4em;
	transform: rotate(-137deg) translateY(-1.5em);
}

.pushed .bar:nth-of-type(3) {
	margin-left: 0.5em;
	transform: rotate(-42deg);
}


.pushed .toggle-icon:hover .bar:nth-of-type(2) {
	border-right-color: #e9b8b9;
	box-shadow: 0.4em 0 0.6em 0.1em rgba(223,40,44,0.75);
}
.pushed .toggle-icon:hover .bar:nth-of-type(3) {
	border-right-color: #ddf1da;
	box-shadow: 0.4em 0 0.6em 0.1em rgba(83,245,68,0.65);
}