color-primary = #E5E5E5
color-secundary = rgb(45, 120, 220)
color-background = black
fuente1 = 'Lato', sans-serif
fuente2 = 'Oswald', sans-serif
font-size-title = 37px
font-size-subtitle = 30px
font-size-normal = 18px
font-size-small = 16px

