@import "_variables"
@import "_global"
@import "_mixins"
@import "_home"
@import "_about"
@import "_portfolio"
@import "_contact"
@import "_animations"
/*------ Media queries ------*/
@import "media-queries/_1440px+"
@import "media-queries/_1280px+"
@import "media-queries/_480px-"
@import "media-queries/_380px-"